<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
     backupStaticAttributes="false"
     bootstrap="vendor/autoload.php"
     colors="true"
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     processIsolation="false"
     stopOnError="false"
     stopOnFailure="false"
     syntaxCheck="false"
>

    <testsuites>
        <testsuite name="Orchestra\Foundation Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
            <file>src/helpers.php</file>

            <exclude>
                <directory>tests/</directory>
                <directory>vendor/</directory>
                <file>src/Testing/ApplicationTestCase.php</file>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="MEMORY_DRIVER" value="runtime"/>
    </php>
</phpunit>
