
body{background:#eeeff2;font-family:'Roboto',Helvetica,sans-serif;}
form fieldset legend{clear:0;padding:20px 0 0;}
form.navbar-form input[role="keyword"]{margin-top:5px;padding:8px 6px;width:250px;}
form.navbar-form select[role="roles"]{min-width:200px;}
form.navbar-form input[type="submit"]{margin-top:4px;}
form .has-error .error{color:#b94a48;}
section.container.main{clear:both;margin-top:40px;}
@media (min-width:979px){.table th.th-action,.table td.th-action{width:100px;}}.box{background:#ffffff;padding:30px 20px 30px;}.box.black{background:#000000;color:#ffffff;}
.box.dark-blue{background:#43484d;color:#ffffff;}
.box.white{background:#ffffff;color:#000000;}
.box.no-padding{padding:0;}
.box.list-group a{border:none;}.box.list-group a:not(:last-child){border-bottom:1px solid #f5f5f5;}
.box-padding{padding:30px;}
.btn-mini{font-size:11px;padding:3px 6px;}
.list-group .list-group-item{color:#000000;}.list-group .list-group-item.active{background:#000000;border-color:#000000;color:#ffffff;}.list-group .list-group-item.active:hover{color:#f5f5f5;}
.main-header{background:#ffffff;margin-top:20px;padding:20px 0;}.main-header .pull-right a.btn{margin-top:20px;}
.navbar{background-color:#44484d;}.navbar.navbar-inverse{background-color:#33373b;}
.navbar a.navbar-brand{border-right:#444 solid 1px;color:#fff;font-weight:500;line-height:1;}
.navbar ul.nav>li>a{color:#888888;}.navbar ul.nav>li>a:hover{color:#ffffff;}
.navbar ul.nav>li.active>a{color:#ffffff;background:#000000;}.navbar ul.nav>li.active>a:hover{color:#f5f5f5;}
.navbar ul.nav>li.dropdown.open a.dropdown-toggle{color:#ffffff;background:#000000;}
.navbar ul.nav>li.dropdown.open ul.dropdown-menu a:hover{background:#000000;}
.panel.widget{margin:5px;padding:0px;background:transparent;border:none;border-radius:0;-webkit-box-shadow:inset 0 0 0 #eeeff2;box-shadow:inset 0 0 0 #eeeff2;}.panel.widget .panel-content{padding:15px;}
.panel.widget .panel-heading{background-color:#eeeff2;border:none;color:#484E54;font-size:16px;font-weight:normal;margin:0;text-transform:uppercase;}
.pull-center{text-align:center;}
.rounded{border-radius:4px;}
.rounded-bottom{border-bottom-right-radius:4px;border-bottom-left-radius:4px;}
.rounded-top{border-top-right-radius:4px;border-top-left-radius:4px;}
.select2-container.col{padding-left:0;padding-right:0;}
.table tbody td .meta{font-size:11px;}
.user-search{background:#eeeff2;margin-bottom:5px;}.user-search .navbar-form .select2-container-multi .select2-choices{min-width:200px;height:38px !important;}
.user-search .navbar-form .select2-container{margin-top:5px;}.user-search .navbar-form .select2-container .select2-container-multi{min-width:200px;}.user-search .navbar-form .select2-container .select2-container-multi .select2-choices{min-width:200px;height:34px;}.user-search .navbar-form .select2-container .select2-container-multi .select2-choices .select2-search-field input{max-height:34px;}
form label.ui-state-active{background:transparent;}
form .ui-slider .ui-slider-handle{z-index:1;}
table.ui-datepicker-calendar td.ui-datepicker-unselectable.ui-state-disabled span.ui-state-default{display:block;padding:0 !important;border:0 none !important;width:30px;height:30px;line-height:30px;text-align:center;font-size:12px;text-decoration:none;font-weight:normal !important;}
#installation table.requirements div.alert{margin-top:10px;}
#installation button.btn-block{padding:8px;}
.container .themes img{margin:0 auto;display:block;}
