@import "less/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "less/mixins.less";

@op-base: #ECEFF1;
@op-base-hover: #ECEFF1;
@op-contra: #508EC7;
@op-contra-hover: #508EC7;
@op-base-text: #333;
@op-base-text-hover: #000;
@op-contra-text: #fff;
@op-contra-text-hover: #eee;

form {
	fieldset legend {
		clear: 0;
		padding: 20px 0 0;
	}

	&.navbar-form.user {
		input[role="keyword"] {
			margin-top: 5px;
			padding: 8px 6px;
			width: 250px;
		}

		select[role="roles"] {
			min-width: 200px;
		}

		input[type="submit"] {
			margin-top: 4px;
		}
	}
	
	.has-error {
		.error {
			color: #b94a48;
		}
	}
}

section.container {
	clear: both;
	padding-top: 45px;
}

@media (min-width: 979px) {
	.table {
		th.th-action, td.th-action {
			width: 100px;
		}
	}
}

.btn-mini {
	font-size: 11px;
	padding: 3px 6px;
}

.list-group {
	.list-group-item {
		color: @op-contra;

		&.active {
			background: @op-contra;
			border-color: @op-contra;
			color: @op-contra-text;

			&:hover {
				color: @op-contra-text-hover;
			}
		}
	}
}

.navbar {
	background-color: @op-base;
		
	a.navbar-brand {
		color: @op-base-text;
	}

	ul.nav {
		> li {
			> a {
				color: @op-base-text;

				&:hover {
					color: @op-base-text-hover;
				}
			}

			&.active {
				a {
					color: @op-contra-text;
					background: @op-contra;

					&:hover {
						color: @op-contra-text-hover;
					}
				}
			}

			&.dropdown.open {
				a.dropdown-toggle {
					color: @op-contra-text;
					background: @op-contra;
				}

				ul.dropdown-menu {
					a:hover {
						background: @op-contra;
					}
				}
			}
		}
	}
}


.table {
	tbody td {
		.meta {
			font-size: 11px;
		}
	}
}

/*
---------------------------------------------------------------------------
| Fixes for Select2
---------------------------------------------------------------------------
*/

.select2-container {
	&.col {
		padding-left: 0;
		padding-right: 0;
	}
}
.navbar-form {
	.select2-container-multi {
		.select2-choices {
			min-width: 200px;
			height: 38px !important;
		}
	}

	.select2-container {
		margin-top: 5px;

		.select2-container-multi {
			min-width: 200px;
			
			.select2-choices {
				min-width: 200px;
				height: 34px;
				
				.select2-search-field input {
					max-height: 34px;
				}
			}
		}
	}
}


/*
---------------------------------------------------------------------------
| Fixes for Delta jQuery UI
---------------------------------------------------------------------------
*/

form {
	label.ui-state-active {
		background: transparent;
	}

	.ui-slider .ui-slider-handle {
		z-index: 1;
	}
}

table {
	&.ui-datepicker-calendar {
		td.ui-datepicker-unselectable.ui-state-disabled {
			span.ui-state-default {
				display: block;
				padding: 0 !important;
				border: 0 none !important;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				font-size: 12px;
				text-decoration: none;
				font-weight: normal !important;
			}
		}
	}
}

/*
|--------------------------------------------------------------------------
| Installation
|--------------------------------------------------------------------------
*/

#installation {
	table.requirements {
		div.alert {
			margin-top: 10px;
		}
	}

	button.btn-block {
		padding: 8px;
	}
}

/*
|--------------------------------------------------------------------------
| Melody Theme Manager
|--------------------------------------------------------------------------
*/

.container .themes {
	img {
		margin: 0 auto;
		display: block;
	}
}
