
.row .columns.one,.row .col.one{position:relative;float:left;width:100%;min-height:1px;padding-left:15px;padding-right:15px;}@media (min-width:768px){.row .columns.one,.row .col.one{width:8.333333333333332%;}}
.row .columns.two,.row .col.two{position:relative;float:left;width:100%;min-height:1px;padding-left:15px;padding-right:15px;}@media (min-width:768px){.row .columns.two,.row .col.two{width:16.666666666666664%;}}
.row .columns.three,.row .col.three{position:relative;float:left;width:100%;min-height:1px;padding-left:15px;padding-right:15px;}@media (min-width:768px){.row .columns.three,.row .col.three{width:25%;}}
.row .columns.four,.row .col.four{position:relative;float:left;width:100%;min-height:1px;padding-left:15px;padding-right:15px;}@media (min-width:768px){.row .columns.four,.row .col.four{width:33.33333333333333%;}}
.row .columns.five,.row .col.five{position:relative;float:left;width:100%;min-height:1px;padding-left:15px;padding-right:15px;}@media (min-width:768px){.row .columns.five,.row .col.five{width:41.66666666666667%;}}
.row .columns.six,.row .col.six{position:relative;float:left;width:100%;min-height:1px;padding-left:15px;padding-right:15px;}@media (min-width:768px){.row .columns.six,.row .col.six{width:50%;}}
.row .columns.seven,.row .col.seven{position:relative;float:left;width:100%;min-height:1px;padding-left:15px;padding-right:15px;}@media (min-width:768px){.row .columns.seven,.row .col.seven{width:58.333333333333336%;}}
.row .columns.eight,.row .col.eight{position:relative;float:left;width:100%;min-height:1px;padding-left:15px;padding-right:15px;}@media (min-width:768px){.row .columns.eight,.row .col.eight{width:66.66666666666666%;}}
.row .columns.nine,.row .col.nine{position:relative;float:left;width:100%;min-height:1px;padding-left:15px;padding-right:15px;}@media (min-width:768px){.row .columns.nine,.row .col.nine{width:75%;}}
.row .columns.ten,.row .col.ten{position:relative;float:left;width:100%;min-height:1px;padding-left:15px;padding-right:15px;}@media (min-width:768px){.row .columns.ten,.row .col.ten{width:83.33333333333334%;}}
.row .columns.eleven,.row .col.eleven{position:relative;float:left;width:100%;min-height:1px;padding-left:15px;padding-right:15px;}@media (min-width:768px){.row .columns.eleven,.row .col.eleven{width:91.66666666666666%;}}
.row .columns.twelve,.row .col.twelve{position:relative;float:left;width:100%;min-height:1px;padding-left:15px;padding-right:15px;}@media (min-width:768px){.row .columns.twelve,.row .col.twelve{width:100%;}}
@media (min-width:768px){.row .columns.offset-by-one,.row .col.offset-by-one{margin-left:8.333333333333332%;}}
@media (min-width:768px){.row .columns.offset-by-two,.row .col.offset-by-two{margin-left:16.666666666666664%;}}
@media (min-width:768px){.row .columns.offset-by-three,.row .col.offset-by-three{margin-left:25%;}}
@media (min-width:768px){.row .columns.offset-by-four,.row .col.offset-by-four{margin-left:33.33333333333333%;}}
@media (min-width:768px){.row .columns.offset-by-five,.row .col.offset-by-five{margin-left:41.66666666666667%;}}
@media (min-width:768px){.row .columns.offset-by-six,.row .col.offset-by-six{margin-left:50%;}}
@media (min-width:768px){.row .columns.offset-by-seven,.row .col.offset-by-seven{margin-left:58.333333333333336%;}}
@media (min-width:768px){.row .columns.offset-by-eight,.row .col.offset-by-eight{margin-left:66.66666666666666%;}}
@media (min-width:768px){.row .columns.offset-by-nine,.row .col.offset-by-nine{margin-left:75%;}}
@media (min-width:768px){.row .columns.offset-by-ten,.row .col.offset-by-ten{margin-left:83.33333333333334%;}}
@media (min-width:768px){.row .columns.offset-by-eleven,.row .col.offset-by-eleven{margin-left:91.66666666666666%;}}
@media (min-width:768px){.row .columns.offset-by-twelve,.row .col.offset-by-twelve{margin-left:100%;}}
.black{background:#000000;color:#ffffff;}
.blue{background:#0072c6;color:#ffffff;}
.brown{background:#570000;color:#ffffff;}
.dark-blue{background:#43484d;color:#ffffff;}
.dark-grey{background:#333333;color:#ffffff;}
.green{background:#008a17;color:#ffffff;}
.grey{background:#888888;color:#ffffff;}
.light-green{background:#82ba00;color:#000000;}
.light-grey{background:#f5f5f5;color:#000000;}
.orange{background:#ef754a;color:#000000;}
.pink{background:#dc4fad;color:#000000;}
.purple{background:#8c0095;color:#ffffff;}
.red{background:#ac193d;color:#ffffff;}
.turqoise{background:#2abf9e;color:#000000;}
.white{background:#ffffff;color:#000000;}
.yellow{background:#f1c40f;color:#000000;}
body{background:#eeeff2;font-family:'Roboto',Helvetica,sans-serif;}
form fieldset legend{clear:0;padding:20px 0 0;}
form label.checkboxes{font-weight:normal;}
form.navbar-form input[role="keyword"]{margin-top:5px;padding:8px 6px;width:250px;}
form.navbar-form select[role="roles"]{min-width:200px;}
form.navbar-form input[type="submit"]{margin-top:4px;}
form .has-error .error{color:#ac193d;}
section.container.main{clear:both;margin-top:40px;}section.container.main .themes img{margin:0 auto;display:block;}
@media (min-width:979px){.table th.th-action,.table td.th-action{width:100px;}}.box{background:#ffffff;padding:30px 20px 30px !important;}.box.no-padding{padding:0;}
.box.list-group a{border:none;}.box.list-group a:not(:last-child){border-bottom:1px solid #f5f5f5;}
.box-padding{padding:30px;}
.btn.btn-mini{font-size:11px;padding:3px 6px;}
.list-group .list-group-item{color:#000000;}.list-group .list-group-item.active{background:#000000;border-color:#000000;color:#ffffff;}.list-group .list-group-item.active:hover{color:#f5f5f5;}
.main-header{background:#ffffff;margin-top:20px;padding:20px 0;}.main-header .pull-right a.btn{margin-top:20px;}
.navbar{background-color:#44484d;}.navbar.navbar-inverse{background-color:#33373b;}
.navbar a.navbar-brand{border-right:#444 solid 1px;color:#ffffff;font-weight:500;line-height:1;}
.navbar ul.nav>li>a{color:#888888;}.navbar ul.nav>li>a:hover{color:#ffffff;}
.navbar ul.nav>li.active>a{color:#ffffff;background:#000000;}.navbar ul.nav>li.active>a:hover{color:#f5f5f5;}
.navbar ul.nav>li.dropdown.open a.dropdown-toggle{color:#ffffff;background:#000000;}
.navbar ul.nav>li.dropdown.open ul.dropdown-menu a:hover{background:#000000;}
.panel.widget{margin:5px;padding:0px !important;background:transparent;border:none;border-radius:0;-webkit-box-shadow:inset 0 0 0 #eeeff2;box-shadow:inset 0 0 0 #eeeff2;}.panel.widget .panel-content{padding:15px;}
.panel.widget .panel-heading{background-color:#eeeff2;border:none;color:#43484d;font-size:16px;font-weight:normal;margin:0;text-transform:uppercase;}
.pull-center{text-align:center;}
.rounded{border-radius:4px;}
.rounded-bottom{border-bottom-right-radius:4px;border-bottom-left-radius:4px;}
.rounded-top{border-top-right-radius:4px;border-top-left-radius:4px;}
.select2-container.col,.select2-container.columns{padding-left:0;padding-right:0;}
.table tbody td .meta{font-size:11px;}
.user-search{background:#eeeff2;margin-bottom:5px;}.user-search .navbar-form .select2-container-multi .select2-choices{min-width:200px;height:38px !important;}
.user-search .navbar-form .select2-container{margin-top:5px;}.user-search .navbar-form .select2-container .select2-container-multi{min-width:200px;}.user-search .navbar-form .select2-container .select2-container-multi .select2-choices{min-width:200px;height:34px;}.user-search .navbar-form .select2-container .select2-container-multi .select2-choices .select2-search-field input{max-height:34px;}
form label.ui-state-active{background:transparent;}
form .ui-slider .ui-slider-handle{z-index:1;}
table.ui-datepicker-calendar td.ui-datepicker-unselectable.ui-state-disabled span.ui-state-default{display:block;padding:0 !important;border:0 none !important;width:30px;height:30px;line-height:30px;text-align:center;font-size:12px;text-decoration:none;font-weight:normal !important;}
#installation table.requirements div.alert{margin-top:10px;}
#installation button.btn-block{padding:8px;}
