
section.container{clear:both;padding-top:45px;}
.navbar.navbar-fixed-top{background-color:#eceff1;}.navbar.navbar-fixed-top a.navbar-brand{color:#2c3e50;}
.navbar.navbar-fixed-top ul.nav>li>a:not(.btn){color:#bdc1c5;}.navbar.navbar-fixed-top ul.nav>li>a:not(.btn):hover{color:#2c3e50;}
@media (min-width:979px){.navbar.navbar-fixed-top ul.nav{padding-top:5px;height:50px;} .table thead th.th-action{width:100px;}}.navbar-form.user input[role="keyword"]{margin-top:5px;padding:8px 6px;width:250px;}
.navbar-form.user select[role="roles"],.navbar-form.user div.select2-container-multi{min-width:100px;}
.navbar-form.user input[type="submit"]{margin-top:4px;}
.table tbody td .meta{font-size:11px;}
.select2-container.col{padding-left:0;padding-right:0;}
.has-error .error{color:#b94a48;}
.navbar-form .select2-container{margin-top:5px;}
form label.ui-state-active{background:transparent;}
form .ui-slider .ui-slider-handle{z-index:1;}
table.ui-datepicker-calendar td.ui-datepicker-unselectable.ui-state-disabled span.ui-state-default{display:block;padding:0 !important;border:0 none !important;width:30px;height:30px;line-height:30px;text-align:center;font-size:12px;text-decoration:none;font-weight:normal !important;}
#installation table.requirements div.alert{margin-top:10px;}
#installation button.btn-block{padding:8px;}
.container .themes img{margin:0 auto;display:block;}
