
form.navbar-form.user input[role="keyword"]{margin-top:5px;padding:8px 6px;width:250px;}
form.navbar-form.user select[role="roles"],form.navbar-form.user div.select2-container-multi{min-width:200px;}
form.navbar-form.user input[type="submit"]{margin-top:4px;}
form .has-error .error{color:#b94a48;}
section.container{clear:both;padding-top:45px;}
@media (min-width:979px){.table th.th-action,.table td.th-action{width:100px;}}.btn-mini{font-size:11px;padding:3px 6px;}
.list-group .list-group-item{color:#508ec7;}.list-group .list-group-item.active{background:#508ec7;border-color:#508ec7;color:#ffffff;}.list-group .list-group-item.active:hover{color:#eeeeee;}
.navbar{background-color:#eceff1;}.navbar a.navbar-brand{color:#333333;}
.navbar ul.nav>li>a{color:#333333;}.navbar ul.nav>li>a:hover{color:#000000;}
.navbar ul.nav>li.active a{color:#ffffff;background:#508ec7;}.navbar ul.nav>li.active a:hover{color:#eeeeee;}
.navbar ul.nav>li.dropdown.open a.dropdown-toggle{color:#ffffff;background:#508ec7;}
.navbar ul.nav>li.dropdown.open ul.dropdown-menu a:hover{background:#508ec7;}
.table tbody td .meta{font-size:11px;}
.select2-container.col{padding-left:0;padding-right:0;}
.navbar-form .select2-container{margin-top:5px;}
form label.ui-state-active{background:transparent;}
form .ui-slider .ui-slider-handle{z-index:1;}
table.ui-datepicker-calendar td.ui-datepicker-unselectable.ui-state-disabled span.ui-state-default{display:block;padding:0 !important;border:0 none !important;width:30px;height:30px;line-height:30px;text-align:center;font-size:12px;text-decoration:none;font-weight:normal !important;}
#installation table.requirements div.alert{margin-top:10px;}
#installation button.btn-block{padding:8px;}
.container .themes img{margin:0 auto;display:block;}
