.select2-container {
    &.col, &.columns {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    &.select2-container-multi {
        min-width: 200px;

        .select2-choices {
            min-width: 200px;
            height: 40px !important;

            .select2-search-choice {
                line-height: 23px !important;

                .select2-search-choice-close {
                    top: 8px !important;
                }
            }

            .select2-search-field input {
                height: 40px !important;
                max-height: 40px;
                padding: 0px 5px 5px;
            }
        }
    }
}
