/**
 * FAQ
 */

/*** FAQ: Categories ***/

.faq-categories__panel {
    background-color: transparent;
}
.faq__categories {
    list-style: none;
    padding-left: 0;

    > li {
        > a {
            display: block;
            padding: 10px 15px;

            &:hover, &:focus {
                text-decoration: none;
                background-color: fade(black,5%);
            }
        }

        &.active {

            > a {
                background-color: fade(black,7%);
            }
        }
    }
}


/*** FAQ: Questions ***/

.faq__questions {
    list-style: none;
    padding-left: 0;

    > li {
        border-bottom: 1px solid @gray-lighter;

        a {
            position: relative;
            display: block;
            padding: 15px 20px 15px 0;
            color: @text-color;

            &:after {
                content: "+";
                position: absolute;
                top: 50%; right: 0;
                font-size: 18px;
                color: @text-muted;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
            }

            &:hover, &:focus {
                text-decoration: none;
            }

            span.label {
                margin-top: 3px;
                text-transform: uppercase;
            }
        }

        p {
            margin-bottom: 15px;
            line-height: 1.7em;
            color: @text-muted;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}
