@black: #000;
@blue : #0072C6;
@brown: #570000;
@dark-blue: #43484d;
@dark-grey: #333;
@green : #008A17;
@grey : #888;
@light-green : #82BA00;
@light-grey : #f5f5f5;
@orange : #EF754A;
@pink: #DC4FAD;
@purple : #8C0095;
@red : #AC193D;
@turqoise : #2ABF9E;
@white: #fff;
@yellow : #f1c40f;
@darker-bg : rgba(0,0,0,0.1);
@transparent: transparent;

.black {
	background: @black;
	color: @white;
}
.blue {
	background: @blue;
	color: @white;
}
.brown {
	background: @brown;
	color: @white;
}
.dark-blue {
	background: @dark-blue;
	color: @white;
}
.dark-grey {
	background: @dark-grey;
	color: @white;
}
.green {
	background: @green;
	color: @white;
}
.grey {
	background: @grey;
	color: @white;
}
.light-green {
	background: @light-green;
	color: @black;
}
.light-grey {
	background: @light-grey;
	color: @black;
}
.orange {
	background: @orange;
	color: @black;
}
.pink {
	background: @pink;
	color: @black;
}
.purple {
	background: @purple;
	color: @white;
}
.red {
	background: @red;
	color: @white;
}
.turqoise {
	background: @turqoise;
	color: @black;
}
.white {
	background: @white;
	color: @black;
}
.yellow {
	background: @yellow;
	color: @black;
}
