/**
 * Based from https://gist.github.com/adamwathan/3584d1904e4f4c36096f
 */

[v-cloak] {
    .v-cloak--block {
        display: block;
    }

    .v-cloak--inline {
        display: inline;
    }

    .v-cloak--inlineBlock {
        display: inline-block;
    }

    .v-cloak--hidden {
        display: none;
    }

    .v-clook--invisible {
        visibility: hidden;
    }
}

.v-cloak--block,
.v-cloak--inline,
.v-cloak--inlineBlock {
    display: none;
}
